{% extends 'base.html' %}
{% block title %}
  register page
{% endblock %}

{% block content %}
<body class="text-center" id="janfill">
    <div class="container">
        <form method="POST" class="form-register" style="color:black">
            {{ form.hidden_tag() }}

            <div class="pdj">
                <img class="mb-4" src="/static/images/earbuds.svg" alt="">
                <span >Pod by Jan</span>

            </div> 
            
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}

            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}

            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}

            <br>
            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
             </div>

            {{ form.submit(class="btn btn-lg btn-block btn-dark") }}

        </form>
    </div>
</body>

{% endblock %}